html, body{
    margin: 0;
    height: 100%;
}
.flexer{
    display: flex;
    height: 98%;


}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */

.sidebar{
    background-color:black ;
    width: 120px;
    height: 100vh;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    /* pxالعرض هنا يجب ان يكون 120 */
}

.header{
    background-color: blue;
    height: 20%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    /* pxالطول هنا يجب ان يكون 80 */
}

.main{background-color: cyan;
    height: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
    


}

a{
   
    color: darkgray;
    /* اجعل شكل اللنك من غير خط اسفل الكلام */
}

a:hover{
    color: white;



}

a:link{
    text-decoration: none;


}

ul{
    color: white;


}

.content{
    height: 100%;
    margin-right: 10px;
    



}
/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */



h1{
    margin: 0;
    margin-right: 5px;
    
}

h2{color: white;
    margin: 0;
    margin-left: 5px;
}

p{text-align: center;

}

